.dashboard-container{
    height: 100%;
    overflow: hidden;
}
.page-container.sub-features{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.feature-card{
    width: 300px;
    height: 300px;
} 
