<div class="container">
    <div>
        <h2> LIG Dashboard </h2>
        <button (click)="getSourceDataclickHandler()">Get Data</button>
        <ng-container *ngIf="isShowTableLoader">Loading...</ng-container>
    </div>

    <div>
        <app-all-selected-filters-display></app-all-selected-filters-display>
    </div>

    <div>
        <div class="filter-container">
            <app-lig-dashboard-filter></app-lig-dashboard-filter>
        </div>    
    </div>
    <div>
        <app-lig-dashboard></app-lig-dashboard>
    </div>


</div>