<div>
    <div *ngIf="selectedFilters?.user_persona">
        <div >
            <span>  user_persona :  </span>
           
            <span *ngFor="let val of selectedFilters.user_persona">
                {{val}}
            </span>
        </div>
    </div>
    <div *ngIf="selectedFilters?.taluka">
        <div >
            <span>  taluka :  </span>
           
            <span *ngFor="let val of selectedFilters.taluka">
                {{val}}
            </span>
        </div>
    </div>

    <div *ngIf="selectedFilters?.sap_cc_number">
        <div >
            <span>  sap_cc_number :  </span>
           
            <span *ngFor="let val of selectedFilters.sap_cc_number">
                {{val}}
            </span>
        </div>
    </div>
    <div *ngIf="selectedFilters?.SALES_GROUP_NAME">
        <div >
            <span>  SALES_GROUP_NAME :  </span>
           
            <span *ngFor="let val of selectedFilters.SALES_GROUP_NAME">
                {{val}}
            </span>
        </div>
    </div>
    <div *ngIf="selectedFilters?.SALES_OFFICE_NAME">
        <div >
            <span>  SALES_OFFICE_NAME :  </span>
           
            <span *ngFor="let val of selectedFilters.SALES_OFFICE_NAME">
                {{val}}
            </span>
        </div>
    </div>
    <div *ngIf="selectedFilters?.state">
        <div >
            <span>  state :  </span>
           
            <span *ngFor="let val of selectedFilters.state">
                {{val}}
            </span>
        </div>
    </div>
    <div *ngIf="selectedFilters?.district">
        <div >
            <span>  district :  </span>
           
            <span *ngFor="let val of selectedFilters.district">
                {{val}}
            </span>
        </div>
    </div>
    <div *ngIf="selectedFilters?.PRODUCT_NAME">
        <div >
            <span>  PRODUCT_NAME :  </span>
           
            <span *ngFor="let val of selectedFilters.PRODUCT_NAME">
                {{val}}
            </span>
        </div>
    </div>
    <div *ngIf="selectedFilters?.PRODUCT_CODE">
        <div >
            <span>  PRODUCT_CODE :  </span>
           
            <span *ngFor="let val of selectedFilters.PRODUCT_CODE">
                {{val}}
            </span>
        </div>
    </div>
    <div *ngIf="selectedFilters?.SALES_OFFICE_NAME">
        <div >
            <span>  PRODUCT_BRAND :  </span>
           
            <span *ngFor="let val of selectedFilters.PRODUCT_BRAND">
                {{val}}
            </span>
        </div>
    </div>
</div>


    <!-- *ngFor="let selectedFiter of selectedFilters | keyvalue" -->
    <!-- "user_persona"? : Array<string>,
        "taluka"? : Array<string>,
        "sap_cc_number"? : Array<string>,
        "SALES_GROUP_NAME"? : Array<string>,
        "SALES_OFFICE_NAME"?: Array<string>,
        "state"?: Array<string>,
        "district"?: Array<string>,
        "PRODUCT_NAME"?: Array<string>,
        "PRODUCT_CODE"?: Array<string>,
        "PRODUCT_BRAND"?: Array<string>, -->
