.filter-form-items-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  
}
.filter-form-item{
  border: 1px solid lightgray;
  align-self: start;
  display: flex;
  flex-direction: column;
}
.filter-container{
  height: 0px;
  overflow: hidden;
  transition: height 500ms;
}
.filter-container.show{
  height: auto;
}
.show-filter-button-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
.eui-badge-container{
  display: inline-flex;
  margin: 2px;
}
.filter-control-label{

    line-height: 1.5;
    color: #1a1c21;
    font-weight: 600;
    margin: 5px 0 0 5px;
}
.show-filter-button-container{
  margin-bottom:10px;
}