<div class="container">
    <div class="header-container">
        <h2> LIG Dashboard </h2>
        <div class="csv-donmolad-component-container">
            <app-lig-csv-download-2></app-lig-csv-download-2>
        </div>
        
    </div>

    <div>
        <app-all-selected-filters-display></app-all-selected-filters-display>
    </div>

    <div>
        <div class="filter-container">
            <app-fe-lig-dashboard-filter></app-fe-lig-dashboard-filter>
        </div>    
    </div>
    <div>
        <app-lig-dashboard></app-lig-dashboard>
    </div>


</div>