/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

html{
    height: 100%; 
 }
 body{
     height: 100%;
     width: 100%;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     overflow: auto;
 }
 .Kibana-btn{
    color: white !important;
    padding: 4px!important;
    background-color: #419FB2;
    border: none !important;
    border-radius: 2px;
    cursor: pointer;

}
.Kibana-btn.active{
    background-color: darkblue;
}

.primary-btn{
    color: white !important;
    padding: 4px!important;
    background-color: #0078e7;
    border: none !important;
    border-radius: 2px;
    cursor: pointer;
}